*{
    margin:0;
    padding: 0;
    overflow: hidden;
}
.scene{
    width: 100%;
    height: 40vh;
}

.road{
    position: relative;
    top: -35px;
    width: 100%;
    height: 30vh;
}

.green{
width: 99.4%;
height: 4vh;
border: thick solid green;
background-color: green;
transform: translate(0, -40px);
}

.container{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    position: relative;
    left: 3%;
    width: 300px;
    height: 370px;
    transition: 0.3s ease-out;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.7);
}
.card .imgbox{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.card .imgbox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    display: block;
    transition: 0.5s;
}
    .card .content{
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 15%;
    padding: 12px;
    transition: all 0.5s cubic-bezier(.48, -0.28, 0.41, 1.4);
    box-sizing: border-box;
    
} 
.card:hover .content{
    width: 100%;
    height: 75%;
    left: 0;
    bottom: 0;
} 
 .content{
     margin: 10px 0 0; 
    padding: 1em 1em; 
     transform: translateX(2em);
    line-height: 1.3em;
    transition: 0.3s;
    text-align: justify; 

#diva{
    color: white;
    font-family:fantasy;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    width: 10%;
    margin: auto;
    height: 20vh;
}





