*{
    margin:0;
    padding: 0;
    overflow: hidden;
}
.scene{
    width: 100%;
    height: 40vh;
}

.road{
    position: relative;
    top: -35px;
    width: 100%;
    height: 30vh;
}

.green{
width: 99.4%;
height: 4vh;
border: thick solid green;
background-color: green;
transform: translate(0, -40px);
}

body{
    background-color: brown;
    padding: 100px 20px;
    color: blueviolet;
    font-family: sans-serif;
}





